<h2>Pagina Utenti</h2>
<p>In questa pagina è possibile visualizzare l'eleco degli utenti registrati</p>
<p>
  &Egrave; inoltre possibile effettuare ricerche per nome, aggiungere o
  eliminare un utente!
</p>
<hr />

<!-- Sezione ricerca utente per nome -->
<mat-toolbar>
  <span>Ricerca utente&nbsp;</span>
  <input type="text" class="form-control" id="user" placeholder="Nome utente o Email" [(ngModel)]="text" (keyup.enter)="getUser()"/>
  <button class="btn" (click)="getUser()">
    <mat-icon>search</mat-icon>
  </button>
  <button class="btn" (click)="clear()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<hr />

<!-- Sezione tabella results -->
<app-loading *ngIf="loading"></app-loading>

<!-- Mostra tabella dopo caricamento -->
<div *ngIf="!loading" class="container text-center">
  <div class="row">
    <h3 class="col">Lista utenti:</h3>
    <h3 class="col btn large" routerLink="add-user">
      Aggiungi nuovo<mat-icon>add</mat-icon>
    </h3>
  </div>
  <table class="table table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody *ngIf="!noResults">
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn" routerLink="user/{{ user.id }}">
            <mat-icon>info</mat-icon>
          </button>
          <button class="btn" (click)="deleteUser(user.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <h3 *ngIf="noResults">La ricerca non ha prodotto risultati!</h3>
  </table>

  <!-- Bottoni paginator -->
  <button type="button" class="btn" (click)="navigation(2)">
    <mat-icon>settings_backup_restore</mat-icon>
  </button>
  <button type="button" class="btn" (click)="navigation(0)">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <span>Pagina: {{ paginator.usersPage }}&emsp;</span>
  <span class="drp" [matMenuTriggerFor]="menu">Risultati per pagina</span>
  <mat-menu #menu="matMenu">
    <button class="btn" mat-menu-item (click)="results(10)">10</button>
    <button class="btn" mat-menu-item (click)="results(25)">25</button>
    <button class="btn" mat-menu-item (click)="results(50)">50</button>
    <button class="btn" mat-menu-item (click)="results(100)">100</button>
  </mat-menu>
  <button type="button" class="btn" (click)="navigation(1)">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
