h3 {
  font-weight: 500;
}
.btn {
  color: #1f2879;
  font-size: small;
}
.btn:hover {
  color: #c35516;
}
table th,
td {
  width: 70dvw;
  color: #1f2879;
  text-align: center;
}
.drp {
  cursor: pointer;
}
.posts{
  text-align: left;
}
mat-list-item,
.title, .body, .comment {
  color: #1f2879;
}
.large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
